# PHP / Laravel
/vendor
/node_modules
/public/build
/public/hot
/public/storage
/storage/*
!/storage/fonts/*.ttf
/storage/*.key
/storage/pail
/bootstrap/cache/*
.phpunit.cache
.phpunit.result.cache
/auth.json

# Environment files
.env
.env.*
!.env.example

# IDE / OS
/.idea
/.vscode
/.fleet
/.nova
/.zed

# Logs
npm-debug.log
yarn-error.log

# Homestead
Homestead.json
Homestead.yaml
